<table width="100%">
  <% @cb.questions.each_with_index do |q, i| %>
    <tr>
      <td valign="top">
        <div class="question_num_difficulty_edit difficulty_level_<%= q.difficulty_level %>">
          <%= i + 1 %>
        </div>
      </td>
      <td>
        <div class="question_text_difficulty_edit">
          <span class="difficulty_level_<%= q.difficulty_level %>">
            <%= q.difficulty_level_text %>
          </span>
          &nbsp;&nbsp;<%= q.question_text %>
          <% if q.answers.empty? %>
            <div class="question_unlisted">
              (This question is currently unlisted because it has no answers associated with it)
            </div>
          <% end %>
          <%= link_to "Add Answer", :controller => :answer, :action => :index, :id => q.id %>
        </div>
      </td>
      <td valign="center">
        <% if current_user.id == q.contributor_id %>
          <%= button_to "x", :controller => :question, :action => :delete, :qid => q.id, :cbid => @cb.id %>
        <% end %>
      </td>
    </tr>
  <% end %>  
</table>