<table width="100%">
  <tr>
    <td width="10%"></td>
    <td valign="center" align="center">
      <h2>
        <%= best_in_place @cb, :title, :type => :input, :path => {:action => :edit_title, :id => @cb.id}, :style => {:width => "400px"} %>
        <br /><span style="font-size:10px;">(click the title to edit)</span>
      </h2>
    </td>
    <td valign="center" align="right" width="10%">
      <%= button_to ' Delete ',
        {:controller => :concept_bundle, :action => :delete, :id => @cb.id},
        {:confirm => "Are you sure?", :method => :delete} %>
    </td>
  </tr>
</table>


<div id="concept_bundle_text">
  <div class="wikipedia_text">
    <%= raw(@html_with_only_cb_showing) %>
  </div>
</div>

<h3>Create a new question for this concept</h3>
<%= render 'new_question' %>

<h3>Search for a question to add to this concept</h3>
<%= render 'search_current_questions' %>

<% if @cb.questions.any? %>
  <h3>Current Questions</h3>
  <%= render 'questions_for_concept_edit' %>
<% end %>

<h3>Add a video to this concept</h3>
<%= render 'add_video_for_concept' %>

<br />
<br />
<%= link_to %Q|Return to the main page "#{@cb.page.title}"|, :controller => :page, :action => :contributor_view, :id => @cb.page.id %>

<script type="text/javascript">
  $(window).bind('load', function(){
    <% if @cb.untitled? %>
      $('#best_in_place_concept_bundle_<%= @cb.id %>_title').click();
    <% else %>
      $('#question_question_text').focus();
    <% end %>
  });
</script>