Concept Title (click to edit)
<h2><%= best_in_place @cb, :title, :type => :input, :path => {:action => :edit_title, :id => @cb.id}, :style => {:width => "400px"} %></h2>

<div id="concept_bundle_text">
  <div class="wikipedia_text">
    <%= raw(@html_with_only_cb_showing) %>
  </div>
</div>

<h2>Add Videos for Concept</h2>

<%= render 'add_video_for_concept' %>

<h2>Add Questions for Concept</h2>

<%= render 'questions_for_concept' %>


<br />
<br />
<%= link_to %Q|Return to the main page "#{@cb.page.title}"|, :controller => :page, :action => :contributor_view, :id => @cb.page.id %>

