<table width="100%">
  <tr>
    <td width="10%">
      <%= link_to image_tag("go_back.png", :size => "100x100", :title => %Q|Return to the concept's page "#{@cb.page.title}"|), :controller => :page, :action => :contributor_view, :id => @cb.page.id %>
    </td>
    <td valign="center" align="center">
      <h2>
        <%= best_in_place @cb, :title, :type => :input, :path => {:action => :edit_title, :id => @cb.id}, :style => {:width => "400px"} %>
        <br /><span style="font-size:10px;">(click the title to edit)</span>
      </h2>
    </td>
    <td valign="center" align="right" width="10%">
      <%= button_to ' Delete ',
        {:controller => :concept_bundle, :action => :delete, :id => @cb.id},
        {:confirm => "Are you sure?", :method => :delete} %>
    </td>
  </tr>
</table>


<div id="concept_bundle_text">
  <div class="wikipedia_text">
    <%= raw(@html_with_only_cb_showing) %>
  </div>
</div>

<h3>Create a new question</h3>
<%= render 'new_question' %>

<h3>Search for a question to add</h3>
<%= render 'search_current_questions' %>

<% if @cb.questions.any? %>
  <h3>Current Questions <span style="font-size:10px;">(click text to edit)</span></h3>
  <%= render 'questions_for_concept_edit' %>
<% end %>

<h3>Add a video exposition of this concept</h3>
<%= render 'add_video_for_concept' %>
<% if @cb.concept_videos.any? %>
  <h3>Current videos</h3>
  <%= render 'videos_for_concept' %>
<% end %>

<script type="text/javascript">
  $(window).bind('load', function(){
    <% if @cb.untitled? %>
      $('#best_in_place_concept_bundle_<%= @cb.id %>_title').click();
    <% else %>
      $('#question_question_text').focus();
    <% end %>
  });
</script>