<%= link_to 'Home', "/" %>
| <%= link_to 'About', "/about" %>
<% unless user_signed_in? %>
| <%= link_to 'Become a Contributor', new_user_registration_path %>
<!--| <%= link_to 'Cool Page', '/coolpage' %>-->
<% end %>
<% if user_signed_in? and current_user.dictator? %>
| <%= link_to 'DB Admin', "/dbadmin" %>
<% end %>
<% if user_signed_in? %>
| <%= link_to 'Logout', destroy_user_session_path, :method => :delete %>
<% else %>
| <%= link_to 'Contributor Login', new_user_session_path %>
<% end %>
<br />

<div id="powered_by">
Powered by the Wharton School at the University of Pennsylvania &copy; 2012
</div>