<div id="about_us">
  <h1>About Us</h1>
  
  Learnopedia was created in order to turn Wikipedia into a powerful learning tool. <br />
  <br />
  How often have you found yourself reading a mathematical page on Wikipedia without
  the foggiest idea of what was going on? <br />
  <br />
  Learnopedia tries to solve this problem by isolating concepts that you can focus on
  and then providing questions (with solutions) that will incrementally teach you
  the concept.<br />
  <br />

  <h2>Team</h2>
  <table cellspacing="5">
    <tr>
      <td valign="top"><%= image_tag "adk.jpeg", :size => "100x100" %></td>
      <td valign="top">
        <span style="font-weight:bold;">Adam Kapelner, Co-founder</span>
        conceived Learnopedia with Josh after years of being frustrated reading Wikipedia
        and not actually building skills.
        He is a fourth-year PhD candidate in Statistics at the Wharton School of the
        University of Pennsylvania. He has an A.M. in Statistics and a B.S. in
        computational science from Stanford University. Before Adam enrolled to grad school, he
        built an image analysis tool called <%= link_to 'Gemident', 'gemident.com' %> which locates
        objects of interest in images. He also worked in Silicon valley at web startups including
        <%= link_to 'Eventbrite', 'eventbrite.com' %> and founded <%= link_to 'Dictionarysquared', 'dictionarysquared.com' %>,
        a learning tool that teaches advanced vocabulary.
      </td>
    </tr>
    <tr>
      <td valign="top"><%= image_tag "adk.jpeg", :size => "100x100" %></td>
      <td valign="top">
        <span style="font-weight:bold;">Josh Magarick, Co-founder</span>
        conceived Learnopedia with Adam....
      </td>
    </tr>
  </table>
</div>