<h2>Concept Bundles</h2>
<% @page.concept_bundles.each_with_index do |cb, i| %>
  <%= link_to "#{i + 1}. #{cb.title}", 
    {:controller => :concept_bundle, :action => :index, :id => cb.id},
    {:id => "concept_bundle_link_#{i + 1}"}%><br />
<% end %>

<%= form_for :concept_bundle, 
      :url => {:controller => :concept_bundle, :action => :add},
      :html => {:onsubmit => "return add_cb_learnopedia();"} do |f| %>
  <%= f.hidden_field :page_id, :value => @page.id %>
  <%= f.hidden_field :cb_ids %>
  <%= submit_tag " Add ", {:id => 'cb_add', :disabled => true} %>
<% end %>