<%= link_to "Student View", {:action => "student_view", :id => @page.id} %>

<%= render 'prerequisites', :contributor => true %>

<%= render 'concept_bundle_controls' %>
<div class="wikipedia_text" id="contributor_view_wiki_text">
  <h2><%= @page.title %></h2>
  <%= raw(@page.wikihtml_links_rewritten_concept_bundles_added_their_text_highlighted(:contributor => true)) %>
</div>
<script type="text/javascript">
  var all_inactive_cb_spans = jQuery(".learnopedia_bundle_element_inactive").toArray();
  for (var i = 0; i < all_inactive_cb_spans.length; i++){
    all_inactive_cb_spans[i].ordinal_cb_id = i;
  }
  var all_active_cb_spans = jQuery(".learnopedia_bundle_element_active").toArray();

  $(window).bind('load', function(){
    setup_spans_to_be_added_to_cbs();
    setup_concept_bundle_hovers_contributor();
  });
</script>
<%= render 'load_cb_stats' %>
