<%= link_to "Student View", {:action => "student_view", :id => @page.id} %>

<%= render 'prerequisites', :contributor => true %>

<table width="100%" id="contributor_table">
  <tr>
    <td width="70%">
      <div style="height: 1000px; overflow: auto;">
        <%= render 'shared/wikipedia_css_stuff' %>
        <div class="wikipedia_text">
          <%= raw(@page.wikihtml_links_rewritten_concept_bundles_added_their_text_highlighted(:contributor => true)) %>
        </div>
      </div>
    </td>
    <td width="30%" valign="top">
      <div style="padding: 10px;">
        <%= render 'concept_bundle_controls' %>
      </div>
    </td>
  </tr>
</table>
<script type="text/javascript">
var all_cb_spans = $$(".learnopedia_bundle_element_inactive");
for (var i = 0; i < all_cb_spans.length; i++){
  all_cb_spans[i].ordinal_cb_id = i;
}

Event.observe(window, 'load', function(){
for (var i = 0; i < all_cb_spans.length; i++){
  all_cb_spans[i].observe('click', clicked_on_cb_span(all_cb_spans[i]));
}
});
</script>
