<h2>Add a Page</h2>

<%= form_for :newpage do |f| %>
  URL of Wikipedia Page: 
  <%= f.text_field :url %>
  <%= submit_tag " Add Wikipedia Page To Learnopedia " %>
<% end %>

<h2>All Pages</h2>

<% @pages.each_with_index do |p, i| %>
 <%= i + 1 %>: <%= link_to raw(p.title), :controller => :page, :action => :raw_wikipedia_page, :id => p.id %><br />
<% end %>



