<h2>Add a Page</h2>

<div style="text-align:left;">
  <%= form_for :newpage do |f| %>
    URL of Wikipedia Page:
    <%= f.text_field :url %>
    <%= submit_tag " Add Wikipedia Page To Learnopedia " %>
  <% end %>
</div>

<h2>All Pages</h2>

<div style="text-align:left;">

  <table width="100%">
    <% @pages.each_with_index do |p, i| %>
      <tr>
        <td><%= i + 1 %>:</td>
        <td><%= p.title %></td>
        <td><%= link_to 'visit', :controller => :page, :action => :view, :id => p.id %></td>
        <td><%= link_to 'administer', :controller => :page, :action => :concept_bundle_interface, :id => p.id %></td>
      </tr>
    <% end %>
  </table>

 </div>