<!DOCTYPE html>
<html>
<head>
  <title>Learnopedia</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <center>    
    <div id="main">
      <h1>Learnopedia</h1>
      <%= yield %>
    </div>
    <%= render "shared/bottom_links" %>
  </center>
  <script type="text/javascript">
    $(document).ready(function(){
      jQuery(".best_in_place").best_in_place(); //activate best in place
    });
    <% if flash.any? %>
      showFlash("<%= flash.now[:error] %>");
    <% end %>
  </script>
</body>
</html>